* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
}

#feed {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, slategrey 0%, black 100%);
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
}

h2 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, slategrey 0%, black 100%);
    margin: auto;
    font-size: 1.5rem;
    color: white;
}

img {
    display: flex;
    margin: 1rem auto;
    max-width: 100%;
}

p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#card {
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}

#card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
    #card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    #card {
        flex: 1 1 calc(33% - 2rem);
    }
}

#card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, slategrey 0%, black 100%);
}

#card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, slategray 0%, black 100%);
}

#card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, slategrey 0%, black 100%);
}

.caroussel {
    display: flex;
    justify-content: center;
}


.dropbtn {
    background-image: linear-gradient(-120deg, slategrey 0%, black 100%);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    background-image: linear-gradient(120deg, slategrey 50%, black 100%);
}

.show {
    display: block;
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}

#com {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

#comments {
    background-color: #ffffdc;
    padding: 1rem;
    max-width: 1000px;
    margin: 2rem auto;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

#galleryRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#galleryRow img {
    width: 30%;

}

#galleryColumn img {
    width: 60%;

}

#display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#addUrl {
    display: flex;
    justify-content: center;
}